{% extends 'base.html' %} {% block content %}
<div class="form-container">
	<form
		class="review-form"
		method="post"
		action="{{ url_for('create_review') }}"
	>
		<label>Movie Name</label>
		<input
			id="movie-name"
			name="movieName"
			placeholder="Movie Name"
			type="text"
		/>

		<label>Movie Rating</label>
		<input
			id="movie-rating"
			name="movieRating"
			placeholder="Movie Rating"
			type="number"
			min="1"
			max="5"
		/>

		<label>Movie Review</label>
		<textarea
			id="movie-review"
			name="movieReview"
			placeholder="Write your review here"
			maxlength="100"
		></textarea>
		<div class="review-form-button-container">
			<button type="submit">Submit Review</button>
		</div>
	</form>
</div>

{% endblock %}
